flows/catalog.json
[{"id":"b42c432e.4bd3c","type":"simplicite-config","host":"simplicite-demo.mybluemix.net","port":"80","root":"","user":"","password":"","debug":null},{"id":"7fb80949.8047f8","type":"http in","name":"","url":"/catalog","method":"get","x":108,"y":65,"z":"8698d9a8.796728","wires":[["14f20238.eb0dfe"]]},{"id":"b1715d62.4e8ea","type":"template","name":"catalog","field":"payload","template":"<html>\n<head>\n<title>Product catalog</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/>\n<link rel=\"shortcut icon\" href=\"{{{payload.baseURL}}}/images/image/favicon.ico\"/>\n<link href=\"{{{payload.baseURL}}}/scripts/jquery/bootstrap/css/bootstrap.min.css\" rel=\"stylesheet\"/>\n<script src=\"{{{payload.baseURL}}}/scripts/jquery/jquery.js\"></script>\n<script src=\"{{{payload.baseURL}}}/scripts/ajax/appsession.js\"></script>\n<script src=\"{{{payload.baseURL}}}/scripts/ajax/businessobject.js\"></script>\n</head>\n<body>\n<div class=\"container\">\n\t<div class=\"row\">\n\t\t<div class=\"col-md-12 well\" style=\"text-align: center; margin-top: 10px;\">\n\t\t\t<img src=\"{{{payload.baseURL}}}/images/image/logo.png\"/>\n\t\t</div>\n\t</div>\n\t<div class=\"row\">\n\t\t<div id=\"products\" class=\"col-md-9\"></div>\n\t\t<div id=\"news\" class=\"col-md-3\"></div>\n\t</div>\n\t<div class=\"row\">\n\t\t<div class=\"col-md-12\" style=\"text-align: center;\"><hr/>&copy; Simplicit&eacute; Software</div>\n\t</div>\n</div>\n<script src=\"{{{payload.baseURL}}}/scripts/jquery/bootstrap/js/bootstrap.min.js\"></script>\n<script type=\"text/javascript\">\nfunction products() { $(\"#products\").text(\"Loading...\").load(\"/products\"); }\nfunction news() { $(\"#news\").text(\"Loading...\").load(\"/news\"); }\n$(document).ready(function() { products(); news(); });\n</script>\n</body>\n</html>\n","x":427,"y":65,"z":"8698d9a8.796728","wires":[["b66d726f.49929"]]},{"id":"b66d726f.49929","type":"http response","name":"","x":569,"y":65,"z":"8698d9a8.796728","wires":[]},{"id":"8bc69434.743968","type":"http in","name":"","url":"/products","method":"get","x":114,"y":284,"z":"8698d9a8.796728","wires":[["12e349e1.ed1cb6"]]},{"id":"12e349e1.ed1cb6","type":"function","name":"params","func":"msg.payload = {\n\taction: \"search\",\n\tparameters: {\n\t\tinlineDocs: true,/*[ \"prdPicture\" ]*/\n\t},\n\tfilters: {\n\t\tprdAvailable: true\n\t}\n};\nreturn msg;","outputs":1,"x":298,"y":284,"z":"8698d9a8.796728","wires":[["43fc30e3.bc03d"]]},{"id":"43fc30e3.bc03d","type":"simplicite-object","name":"","server":"b42c432e.4bd3c","objectname":"DemoProduct","action":"","x":482,"y":284,"z":"8698d9a8.796728","wires":[["abc0e6c8.543f18","b0e8a17.f4f176"]]},{"id":"abc0e6c8.543f18","type":"template","name":"products","field":"payload","template":"<div class=\"row\">\n\t<div class=\"col-md-12\">\n\t\t<h3>Products <span style=\"font-size: 0.5em; cursor: pointer; float: right;\" onclick=\"products();\">[refresh]</span></h3>\n\t</div>\n{{#payload.list}}\n\t<div class=\"col-md-6\">\n\t\t<div class=\"panel panel-info\">\n\t\t\t<div class=\"panel-heading\">{{prdSupId__supCode}} / {{prdName}}</div>\n\t\t\t<div class=\"panel-body\">\n\t\t\t\t{{#prdPicture}}\n\t\t\t\t<img src=\"data:{{mime}};base64,{{content}}\" style=\"margin: 5px; float: left;\"/>\n\t\t\t\t{{/prdPicture}}\n\t\t\t\t<p>{{{prdDescription}}}</p>\n\t\t\t\t<p style=\"float: right; color: red; font-weight: bold;\">{{prdUnitPrice}} &euro;</p>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n{{/payload.list}}\n</div>","x":661,"y":284,"z":"8698d9a8.796728","wires":[["66b4439b.994bbc"]]},{"id":"66b4439b.994bbc","type":"http response","name":"","x":824,"y":283,"z":"8698d9a8.796728","wires":[]},{"id":"6176cc2.f9e8934","type":"http in","name":"","url":"/news","method":"get","x":110,"y":152,"z":"8698d9a8.796728","wires":[["5f46bcd8.a0b944"]]},{"id":"cc5ae1b5.33a52","type":"http response","name":"","x":803,"y":152,"z":"8698d9a8.796728","wires":[]},{"id":"65cca096.9a336","type":"template","name":"news","field":"payload","template":"<div class=\"row\">\n\t<div class=\"col-md-12\">\n\t\t<h3>News <span style=\"font-size: 0.5em; cursor: pointer; float: right;\" onclick=\"news();\">[refresh]</span></h3>\n\t</div>\n{{#payload}}\n\t<div class=\"col-md-12\">\n\t\t<div class=\"panel panel-warning\">\n\t\t\t<div class=\"panel-heading\">{{title}}</div>\n\t\t\t<div class=\"panel-body\">\n\t\t\t\t{{#image}}\n\t\t\t\t<img src=\"data:{{mime}};base64,{{content}}\" style=\"margin: 5px; float: left;\"/>\n\t\t\t\t{{/image}}\n\t\t\t\t<p>{{content}}</p>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n{{/payload}}\n</div>\n","x":653,"y":152,"z":"8698d9a8.796728","wires":[["cc5ae1b5.33a52"]]},{"id":"5f46bcd8.a0b944","type":"function","name":"params","func":"msg.payload = {\n\tparameters: {\n\t\tinlineImages: true\n\t}\n};\nreturn msg;","outputs":1,"x":293,"y":152,"z":"8698d9a8.796728","wires":[["9fe84f2e.6017b"]]},{"id":"9fe84f2e.6017b","type":"simplicite-session","name":"news","server":"b42c432e.4bd3c","action":"news","x":477,"y":152,"z":"8698d9a8.796728","wires":[["65cca096.9a336","978c465.f6873b8"]]},{"id":"978c465.f6873b8","type":"debug","name":"","active":false,"console":"false","complete":"false","x":654,"y":211,"z":"8698d9a8.796728","wires":[]},{"id":"b0e8a17.f4f176","type":"debug","name":"","active":false,"console":"false","complete":"false","x":652,"y":354,"z":"8698d9a8.796728","wires":[]},{"id":"14f20238.eb0dfe","type":"function","name":"params","func":"msg.payload = {\n\tbaseURL: \"http://simplicite-demo.mybluemix.net\"\n};\nreturn msg;","outputs":1,"x":276,"y":65,"z":"8698d9a8.796728","wires":[["b1715d62.4e8ea"]]}]