flows/demo-ajax.json
[{"id":"edf57b06.120a88","type":"template","name":"demo-ajax","field":"payload","template":"<html>\n<head>\n<title>Node-RED &amp; Simplicit&eacute; demo</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/>\n<link rel=\"shortcut icon\" href=\"{{{payload.baseURL}}}/images/image/favicon.ico\"/>\n<link href=\"{{{payload.baseURL}}}/scripts/jquery/bootstrap/css/bootstrap.min.css\" rel=\"stylesheet\"/>\n<script src=\"{{{payload.baseURL}}}/scripts/jquery/jquery.js\"></script>\n<script src=\"{{{payload.baseURL}}}/scripts/ajax/appsession.js\"></script>\n<script src=\"{{{payload.baseURL}}}/scripts/ajax/businessobject.js\"></script>\n</head>\n<body>\n<div class=\"container\">\n        <div class=\"row\">\n                <div class=\"col-md-12 well\" style=\"text-align: center; margin-top: 10px;\">\n                        <img src=\"{{{payload.baseURL}}}/images/image/logo.png\"/>\n                </div>\n        </div>\n        <div class=\"row\">\n                <div id=\"message-form\" class=\"col-md-6\">\n                        <div id=\"info\" class=\"alert alert-success\" style=\"display: none; text-align: center; margin-top: 10px;\"></div>\n                        <div id=\"error\" class=\"alert alert-danger\" style=\"display: none; text-align: center; margin-top: 10px;\"></div>\n                        Your name:&nbsp;\n                        <input type=\"text\" class=\"form-control\" placeholder=\"Your name\" id=\"name\" autocomplete=\"off\"/>\n                        <div style=\"margin-top: 20px; margin-bottom: 20px;\">\n                                Your evaluation:&nbsp;\n                                <div id=\"eval\" class=\"btn-group\" data-toggle=\"buttons\" style=\"white-space: nowrap;\">\n                                        <label class=\"btn btn-primary active\">Not evaluated<input type=\"radio\" name=\"eval\" value=\"info\" checked=\"checked\"/></label>\n                                        <label class=\"btn btn-success\">Great<input type=\"radio\" name=\"eval\" value=\"success\"/></label>\n                                        <label class=\"btn btn-warning\">Average<input type=\"radio\" name=\"eval\" value=\"warning\"/></label>\n                                        <label class=\"btn btn-danger\">Poor<input type=\"radio\" name=\"eval\" value=\"danger\"/></label>\n                                </div>\n                        </div>\n                        Your message:&nbsp;\n                        <textarea id=\"text\" class=\"form-control\" placeholder=\"Your message\" rows=\"7\"></textarea>\n                        Your picture:&nbsp;\n                        <input id=\"picture\" type=\"file\" accept=\"image/*;capture=camera\" capture=\"capture\"/>\n                        <canvas id=\"picture-canvas\" style=\"display: none;\"></canvas>\n                        <div style=\"text-align: right; margin-top: 20px; margin-bottom: 20px;\">\n                                <button id=\"send\" class=\"btn btn-default\">Send !</button>\n                        </div>\n                </div>\n                <div id=\"message-list\" class=\"col-md-6\"><img src=\"{{{payload.baseURL}}}/images/image/inprogress.gif\"/></div>\n        </div>\n</div>\n<script src=\"{{{payload.baseURL}}}/scripts/jquery/bootstrap/js/bootstrap.min.js\"></script>\n<script type=\"text/javascript\">\nfunction message(id, m) {\n        $(\"body\").animate({ scrollTop: 0 }, 250, function() {\n                $(\"#\" + id).text(m).show();\n                setTimeout(function() { $(\"#\" + id).slideUp(); }, 3000);\n        });\n}\nfunction info(m) { message(\"info\", m); }\nfunction error(m) { message(\"error\", m); }\n$(document).ready(function() {\n        var coords = undefined;\n        if (navigator.geolocation) try {\n                navigator.geolocation.getCurrentPosition(function(position) {\n                        coords = parseFloat(position.coords.latitude) + \";\" + parseFloat(position.coords.longitude);\n                });\n        } catch (e) {\n                console.log(\"Unable to get coordinates\");\n        }\n\n        $(\"#name\").focus();\n        var app = new Simplicite.Ajax(\"{{{payload.baseURL}}}\", \"uipublic\");\n        var msg = app.getBusinessObject(\"BluemixDemoMessage\");\n        var msgTimeout = undefined;\n        $(\"#send\").click(function() {\n                var b = $(\"#send\").attr(\"disabled\", \"disabled\").text(\"Sending...\");\n                function createMessage(d) {\n                        msg.getForCreate(function() {\n                                msg.item.msgName = $(\"#name\").val();\n                                msg.item.msgText = $(\"#text\").val();\n                                msg.item.msgEval = $(\"#eval input:checked\").val();\n                                msg.item.msgCoords = coords;\n                                if (d)\n                                        msg.item.msgPicture = { id: \"0\", name: f.name, mime: \"image/png\", content: d };\n                                msg.create(function() {\n                                        $(\"#text\").val(\"\");\n                                        $(\"#picture\").val(\"\");\n                                        $(\"#eval_default\").click();\n                                        b.removeAttr(\"disabled\").text(\"Send\");\n                                        info(\"Thank you !\");\n                                        if (msgTimeout) { clearTimeout(); msgTimeout = undefined; }\n                                        getMessages();\n                                }, undefined, { error: function(e) {\n                                        error(app.getErrorMessage(e));\n                                        b.removeAttr(\"disabled\").text(\"Send\");\n                                } });\n                        }, {\n                                error: function(e) { error(e.message); }\n                        });\n                }\n                var f = $(\"#picture\")[0].files[0];\n                if (f) {\n                        var r = new FileReader();\n                        r.onload = function(e) {\n                                var img = new Image();\n                                img.onload = function() {\n                                        var c = document.getElementById(\"picture-canvas\");\n                                        c.width=160;\n                                        c.height=120;\n                                        c.getContext(\"2d\").drawImage(img, 0, 0, 160, 120);\n                                        createMessage(c.toDataURL().replace(/data:image\\/png;base64,/, \"\"));\n                                };\n                                img.src = e.target.result;\n                        };\n                        r.readAsDataURL(f);\n                } else {\n                        createMessage();\n                }\n        });\n        function getMessages() {\n                msg.search(function() {\n                        var m = $(\"#message-list\").empty();\n                        var t = $(\"<table/>\").addClass(\"table\");\n                        for (var i = 0; i < msg.list.length; i++) {\n                                var item = msg.list[i];\n                                var tr = $(\"<tr/>\").addClass(item.msgEval);\n                                tr.append($(\"<td/>\", { style: \"width: 180px;\" }).append(item.msgPicture ? $(\"<img/>\", { src: \"data:\" + item.msgPicture.mime + \";base64,\" + item.msgPicture.content }) : \"\"));\n                                tr.append($(\"<td/>\").append($(\"<b/>\").append(item.msgName)).append(\"&nbsp;\").append($(\"<i/>\", { style: \"font-size: .8em;\" }).append(item.msgDateTime)).append(\"<br/>\" + item.msgText));\n                                t.append(tr);\n                        }\n                        m.append(t);\n                }, { msgVisible: true }, { inlineDocs: true, error: function() {\n                        var m = $(\"#message-list\").text(\"No message\");\n                } });\n                msgTimeout = setTimeout(getMessages, 3000);\n        }\n        getMessages();\n});\n</script>\n</body>\n</html>\n","x":435,"y":60,"z":"ffffa55c.000058","wires":[["6549c32a.9ab63c"]]},{"id":"38f0d6fd.c70f2a","type":"http in","name":"","url":"/demo-ajax","method":"get","x":94,"y":60,"z":"ffffa55c.000058","wires":[["d32aae89.2cd55"]]},{"id":"6549c32a.9ab63c","type":"http response","name":"","x":600,"y":60,"z":"ffffa55c.000058","wires":[]},{"id":"d5bc94b3.2a4368","type":"http in","name":"","url":"/catalog-ajax","method":"get","x":89,"y":135,"z":"ffffa55c.000058","wires":[["b8542604.47abd8"]]},{"id":"31b125b6.ce4eda","type":"http response","name":"","x":608,"y":135,"z":"ffffa55c.000058","wires":[]},{"id":"26a92b88.d956d4","type":"template","name":"catalog-ajax","field":"payload","template":"<html>\n<head>\n<title>Node-RED &amp; Simplicit&eacute; catalog</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/>\n<link rel=\"shortcut icon\" href=\"{{{payload.baseURL}}}/images/image/favicon.ico\"/>\n<link href=\"{{{payload.baseURL}}}/scripts/jquery/bootstrap/css/bootstrap.min.css\" rel=\"stylesheet\"/>\n<script src=\"{{{payload.baseURL}}}/scripts/jquery/jquery.js\"></script>\n<script src=\"{{{payload.baseURL}}}/scripts/ajax/appsession.js\"></script>\n<script src=\"{{{payload.baseURL}}}/scripts/ajax/businessobject.js\"></script>\n</head>\n<body>\n<div class=\"container\">\n\t<div class=\"row\">\n\t\t<div class=\"col-md-12 well\" style=\"text-align: center; margin-top: 10px;\">\n\t\t\t<img src=\"{{{payload.baseURL}}}/images/image/logo.png\"/>\n\t\t</div>\n\t</div>\n\t<div class=\"row\">\n\t\t<div id=\"products\" class=\"col-md-9\"></div>\n\t\t<div id=\"news\" class=\"col-md-3\"></div>\n\t</div>\n</div>\n<script src=\"{{{payload.baseURL}}}/scripts/jquery/bootstrap/js/bootstrap.min.js\"></script>\n<script type=\"text/javascript\">\n$(document).ready(function() {\n\tfunction row() { return $(\"<div/>\").addClass(\"row\"); }\n\tfunction cell(span) { return $(\"<div/>\").addClass(\"col-lg-\" + span); }\n\tfunction panel(body, heading, style, span) {\n\t\tvar p = $(\"<div/>\").addClass(\"panel panel-\" + (style === undefined ? \"default\" : style));\n\t\tif (heading !== undefined)\n\t\t\tp.append($(\"<div/>\").addClass(\"panel-heading\").append($(\"<h3/>\").addClass(\"panel-title\").append(heading)));\n\t\tif (body.is(\"table\"))\n\t\t\treturn p.append(body);\n\t\telse\n\t\t\tp.append($(\"<div/>\").addClass(\"panel-body\").append(body));\n\t\tif (span !== undefined)\n\t\t\treturn cell(span).append(p);\n\t\treturn p;\n\t}\n\t\n\tvar app = new Simplicite.Ajax(\"{{{payload.baseURL}}}\", \"uipublic\");\n\t\n\t//------------------------------------------\n\t// News\n\t//------------------------------------------\n\t(function news() {\n\t\tvar nc = $(\"#news\");\n\t\tnc.empty().append($(\"<img/>\", { src: \"{{{payload.baseURL}}}/images/image/inprogress.gif\" }));\n\t\tapp.getNews(function() {\n\t\t\tnc.empty().append($(\"<h2/>\").text(\"Latest news\").append($(\"<div/>\", { style: \"font-size: 0.5em; cursor: pointer; float: right;\" }).text(\"[refresh]\").click(news)));\n\t\t\tif (app.news.length === 0) {\n\t\t\t\tnc.text(\"No news\");\n\t\t\t\treturn;\n\t\t\t}\n\t\t\tfor (var i = 0; i < app.news.length; i++) {\n\t\t\t\tvar n = app.news[i];\n\t\t\t\tvar r = row();\n\t\t\t\tr.append(cell(4).append($(\"<img/>\", { style: \"border: solid 1px grey;\", src: \"data:\" + n.image.mime + \";base64,\" + n.image.content })));\n\t\t\t\tr.append(cell(8).append($(\"<div/>\", { style: \"font-style: italic; font-size: .8em; color: #31708f;\" }).append(n.date)).append(n.content));\n\t\t\t\tnc.append(panel(r, n.title, \"info\"));\n\t\t\t}\n\t\t}, { inlineImages: true }, { error: function(e) {\n\t\t\t\tconsole.error(e);\n\t\t\t\tnc.text(\"Unable to get news !\");\n\t\t\t} \n\t\t});\n\t})();\n\n\t//------------------------------------------\n\t// Products\n\t//------------------------------------------\n\t(function products() {\n\t\tvar pc = $(\"#products\");\n\t\tpc.empty().append($(\"<img/>\", { src: \"http://simplicite-demo.mybluemix.net/images/image/inprogress.gif\" }));\n\t\tvar prd = app.getBusinessObject(\"DemoProduct\");\n\t\tprd.getMetaData(function() {\n\t\t\tconsole.log(\"Using \" + prd.metadata.label + \" object\");\n\t\t\tprd.search(function() {\n\t\t\t\tpc.empty().append($(\"<h2/>\").text(\"Our products\").append($(\"<div/>\", { style: \"font-size: .5em; cursor: pointer; float: right;\" }).text(\"[refresh]\").click(products)));\n\t\t\t\tif (prd.list.length === 0) {\n\t\t\t\t\tpc.text(\"No products\");\n\t\t\t\t\treturn;\n\t\t\t\t}\n\t\t\t\tvar r = undefined;\n\t\t\t\tfor (var i = 0; i < prd.list.length; i++) {\n\t\t\t\t\tvar p = prd.list[i];\n\t\t\t\t\tif (i % 3 === 0) {\n\t\t\t\t\t\tif (r !== undefined) pc.append(r);\n\t\t\t\t\t\tr = row();\n\t\t\t\t\t}\n\t\t\t\t\tvar pt = p.prdSupId__supName + \" / \" + p.prdName;\n\t\t\t\t\tvar pi = $(\"<img/>\", { style: \"height: 200px;\", title: p.prdReference, src: \"data:\" + p.prdPicture.mime + \";base64,\" + p.prdPicture.content }).popover({ content: p.prdDescription });\n\t\t\t\t\tvar pp = $(\"<strong/>\", { style: \"margin-right: 25px;\" }).append(parseFloat(p.prdUnitPrice).toFixed(2) + \" &euro;\");\n\t\t\t\t\tr.append(panel($(\"<div/>\").append(pi).append(\"<hr/>\").append($(\"<p/>\", { style: \"text-align: right;\" }).append(pp)), pt, \"success\", 4));\n\t\t\t\t}\n\t\t\t\tif (r !== undefined) pc.append(r);\n\t\t\t}, undefined, { inlineDocs: true });\n\t\t}, { error: function(e) {\n\t\t\t\tconsole.error(e);\n\t\t\t\tpc.text(\"Unable to get products !\");\n\t\t\t}\n\t\t});\n\t})();\n});\n</script>\n</body>\n</html>","x":441,"y":135,"z":"ffffa55c.000058","wires":[["31b125b6.ce4eda"]]},{"id":"d32aae89.2cd55","type":"function","name":"params","func":"msg.payload = {\n\tbaseURL: \"http://simplicite-demo.mybluemix.net\"\n};\nreturn msg;","outputs":1,"x":272,"y":60,"z":"ffffa55c.000058","wires":[["edf57b06.120a88"]]},{"id":"b8542604.47abd8","type":"function","name":"params","func":"msg.payload = {\n\tbaseURL: \"http://simplicite-demo.mybluemix.net\"\n};\nreturn msg;","outputs":1,"x":276,"y":135,"z":"ffffa55c.000058","wires":[["26a92b88.d956d4"]]}]