flows/demo.json
[{"id":"a522980b.b32308","type":"http response","z":"c4eb5e27.3636","name":"","x":609,"y":83,"wires":[]},{"id":"b6bcb906.2db958","type":"http in","z":"c4eb5e27.3636","name":"","url":"/appinfo","method":"get","x":125,"y":82,"wires":[["38710b91.c7bf04"]]},{"id":"f382dfbc.c5133","type":"template","z":"c4eb5e27.3636","name":"appinfo","field":"payload","template":"<p>\nApplication name: <b>{{payload.name}}</b>\n<br/>Application version: <b>{{payload.version}}</b>\n<br/>Platform version: <b>{{payload.platformversion}}</b>\n<br/>Platform encoding: <b>{{payload.encoding}}</b>\n<br/>Server: <b>{{payload.server}}</b>\n</p>","x":455,"y":84,"wires":[["a522980b.b32308"]]},{"id":"e5d66649.c12588","type":"debug","z":"c4eb5e27.3636","name":"","active":false,"console":"false","complete":"false","x":452,"y":139,"wires":[]},{"id":"38710b91.c7bf04","type":"simplicite-session","z":"c4eb5e27.3636","name":"appinfo","server":"ec6869ce.d72118","action":"appinfo","x":292,"y":83,"wires":[["f382dfbc.c5133","e5d66649.c12588"]]},{"id":"b934f359.768da","type":"http response","z":"c4eb5e27.3636","name":"","x":609,"y":214,"wires":[]},{"id":"22a4d3c9.b3b06c","type":"http in","z":"c4eb5e27.3636","name":"","url":"/sysinfo","method":"get","x":125,"y":213,"wires":[["f386f0e8.681f5"]]},{"id":"2cc8ff83.551a1","type":"template","z":"c4eb5e27.3636","name":"sysinfo","field":"payload","template":"<p>\nObject cache: <b>{{payload.cacheobject}} / {{payload.cacheobjectmax}}</b>\n<br/>Grant cache: <b>{{payload.cachegrant}} / {{payload.cachegrantmax}}</b>\n<br/>Heap: <b>Used {{payload.heapsize}}Kb, Free {{payload.heapfreesize}}Kb, Max {{payload.heapsize}}Kb</b>\n<br/>Disk: <b>DBDoc {{payload.dirdbdoc}}, Cache {{payload.dircache}}Kb, Recycle bin {{payload.dirrecyclebin}}Kb, Free {{payload.diskfree}}Kb</b>\n</p>","x":455,"y":215,"wires":[["b934f359.768da"]]},{"id":"b4041f4d.bb75b","type":"debug","z":"c4eb5e27.3636","name":"","active":false,"console":"false","complete":"false","x":452,"y":270,"wires":[]},{"id":"f386f0e8.681f5","type":"simplicite-session","z":"c4eb5e27.3636","name":"sysinfo","server":"ec6869ce.d72118","action":"sysinfo","x":292,"y":214,"wires":[["2cc8ff83.551a1","b4041f4d.bb75b"]]},{"id":"b71a170a.0bad48","type":"http in","z":"c4eb5e27.3636","name":"","url":"/grant","method":"get","x":106,"y":353,"wires":[["c854beb5.4365"]]},{"id":"78db4b9e.65a544","type":"http response","z":"c4eb5e27.3636","name":"","x":747,"y":353,"wires":[]},{"id":"f19a279a.7fea78","type":"template","z":"c4eb5e27.3636","name":"grant","field":"payload","template":"Hello <b>{{payload.firstname}} {{payload.lastname}}</b> (<i>{{payload.login}}</i>)!\n{{#payload.picture}}\n<br/><img src=\"data:{{mime}};base64,{{content}}\"/>\n{{/payload.picture}}\n\n","x":600,"y":353,"wires":[["78db4b9e.65a544"]]},{"id":"539912b7.431b5c","type":"debug","z":"c4eb5e27.3636","name":"","active":false,"console":"false","complete":"false","x":592,"y":409,"wires":[]},{"id":"7c79a6a2.829898","type":"simplicite-session","z":"c4eb5e27.3636","name":"grant","server":"ec6869ce.d72118","action":"grant","x":444,"y":353,"wires":[["f19a279a.7fea78","539912b7.431b5c"]]},{"id":"c854beb5.4365","type":"function","z":"c4eb5e27.3636","name":"grant","func":"msg.payload = { \n\tparameters: {\n\t\tinlinePicture: true\n\t}\n};\nreturn msg;","outputs":1,"x":284,"y":353,"wires":[["7c79a6a2.829898"]]},{"id":"cdf93183.c379d","type":"http in","z":"c4eb5e27.3636","name":"","url":"/products","method":"get","x":130.0000114440918,"y":690.7500114440918,"wires":[["895dda32.7fa478"]]},{"id":"895dda32.7fa478","type":"function","z":"c4eb5e27.3636","name":"params","func":"msg.payload = {\n\taction: \"search\",\n\tparameters: {\n\t\tinlineThumbs: true,\n\t},\n\tfilters: {\n\t\t/*demoPrdAvailable: true*/\n\t}\n};\nreturn msg;","outputs":1,"noerr":0,"x":314.0000114440918,"y":690.7500114440918,"wires":[["2a586d57.0e2972"]]},{"id":"2a586d57.0e2972","type":"simplicite-object","z":"c4eb5e27.3636","name":"","server":"ec6869ce.d72118","objectname":"DemoProduct","action":"","x":498.0000114440918,"y":690.7500114440918,"wires":[["e5ffaf87.86158","7c226a08.4df694"]]},{"id":"e5ffaf87.86158","type":"template","z":"c4eb5e27.3636","name":"products","field":"payload","fieldType":"msg","syntax":"mustache","template":"<div class=\"row\">\n\t<div class=\"col-md-12\">\n\t\t<h3>Products <span style=\"font-size: 0.5em; cursor: pointer; float: right;\" onclick=\"products();\">[refresh]</span></h3>\n\t</div>\n{{#payload.list}}\n\t<div class=\"col-md-6\">\n\t\t<div class=\"panel panel-info\">\n\t\t\t<div class=\"panel-heading\">{{demoPrdSupId__demoSupCode}} / {{demoPrdName}}</div>\n\t\t\t<div class=\"panel-body\">\n\t\t\t\t{{#demoPrdPicture}}\n\t\t\t\t<img src=\"data:{{mime}};base64,{{thumbnail}}\" style=\"margin: 5px; float: left;\"/>\n\t\t\t\t{{/demoPrdPicture}}\n\t\t\t\t<p>{{{demoPrdDescription}}}</p>\n\t\t\t\t<p style=\"float: right; color: red; font-weight: bold;\">{{demoPrdUnitPrice}} &euro;</p>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n{{/payload.list}}\n</div>","x":677.0000114440918,"y":690.7500114440918,"wires":[["785d0f87.d7f44"]]},{"id":"785d0f87.d7f44","type":"http response","z":"c4eb5e27.3636","name":"","x":840.0000114440918,"y":689.7500114440918,"wires":[]},{"id":"39c46ac1.45fc16","type":"http in","z":"c4eb5e27.3636","name":"","url":"/news","method":"get","x":111,"y":563.7500076293945,"wires":[["588c08ae.5efd88"]]},{"id":"7b460572.07640c","type":"http response","z":"c4eb5e27.3636","name":"","x":804,"y":563.7500076293945,"wires":[]},{"id":"3758bffa.421af","type":"template","z":"c4eb5e27.3636","name":"news","field":"payload","template":"<div class=\"row\">\n\t<div class=\"col-md-12\">\n\t\t<h3>News <span style=\"font-size: 0.5em; cursor: pointer; float: right;\" onclick=\"news();\">[refresh]</span></h3>\n\t</div>\n{{#payload}}\n\t<div class=\"col-md-12\">\n\t\t<div class=\"panel panel-warning\">\n\t\t\t<div class=\"panel-heading\">{{title}}</div>\n\t\t\t<div class=\"panel-body\">\n\t\t\t\t{{#image}}\n\t\t\t\t<img src=\"data:{{mime}};base64,{{content}}\" style=\"margin: 5px; float: left;\"/>\n\t\t\t\t{{/image}}\n\t\t\t\t<p>{{content}}</p>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n{{/payload}}\n</div>\n","x":654,"y":563.7500076293945,"wires":[["7b460572.07640c"]]},{"id":"588c08ae.5efd88","type":"function","z":"c4eb5e27.3636","name":"params","func":"msg.payload = {\n\tparameters: {\n\t\tinlineImages: true\n\t}\n};\nreturn msg;","outputs":1,"noerr":0,"x":294,"y":563.7500076293945,"wires":[["5eb92e7a.64346"]]},{"id":"5eb92e7a.64346","type":"simplicite-session","z":"c4eb5e27.3636","name":"news","server":"ec6869ce.d72118","action":"news","x":478,"y":563.7500076293945,"wires":[["3758bffa.421af","d65767e0.6e1e18"]]},{"id":"d65767e0.6e1e18","type":"debug","z":"c4eb5e27.3636","name":"","active":true,"console":"false","complete":"false","x":655,"y":622.7500076293945,"wires":[]},{"id":"7c226a08.4df694","type":"debug","z":"c4eb5e27.3636","name":"","active":true,"console":"false","complete":"false","x":668.0000114440918,"y":760.7500114440918,"wires":[]},{"id":"1e29223b.9c187e","type":"http in","z":"c4eb5e27.3636","name":"","url":"/demo","method":"get","swaggerDoc":"","x":116.25000762939453,"y":483.7500066757202,"wires":[["d2162ff2.9e0e2"]]},{"id":"ba50944e.12f818","type":"template","z":"c4eb5e27.3636","name":"demo","field":"payload","fieldType":"msg","syntax":"mustache","template":"<html>\n<head>\n<title>Simplicit&eacute; NodeRED demo</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/>\n<link rel=\"shortcut icon\" href=\"{{{payload.resourcesURL}}}/logos/favicon.ico\"/>\n<link href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\" rel=\"stylesheet\"/>\n</head>\n<body>\n<div class=\"container\">\n\t<div class=\"row\">\n\t\t<div class=\"col-md-12 well\" style=\"text-align: center; margin-top: 10px;\">\n\t\t\t<img src=\"{{{payload.resourcesURL}}}/logos/logo500.png\"/>\n\t\t</div>\n\t</div>\n\t<div class=\"row\">\n\t\t<div id=\"products\" class=\"col-md-9\"></div>\n\t\t<div id=\"news\" class=\"col-md-3\"></div>\n\t</div>\n\t<div class=\"row\">\n\t\t<div class=\"col-md-12\" style=\"text-align: center;\"><hr/>&copy; Simplicit&eacute; Software</div>\n\t</div>\n</div>\n<script src=\"https://code.jquery.com/jquery-2.2.4.min.js\"></script>\n<script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js\"></script>\n<script type=\"text/javascript\">\nfunction products() { $(\"#products\").text(\"Loading...\").load(\"/products\"); }\nfunction news() { $(\"#news\").text(\"Loading...\").load(\"/news\"); }\n$(document).ready(function() { products(); news(); });\n</script>\n</body>\n</html>\n","x":425.25000762939453,"y":483.7500066757202,"wires":[["b6bce3b6.20cfb"]]},{"id":"b6bce3b6.20cfb","type":"http response","z":"c4eb5e27.3636","name":"","x":577.2500076293945,"y":483.7500066757202,"wires":[]},{"id":"d2162ff2.9e0e2","type":"function","z":"c4eb5e27.3636","name":"params","func":"msg.payload = {\n    resourcesURL: \"https://www.simplicite.io/resources/\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":284.25000762939453,"y":483.7500066757202,"wires":[["ba50944e.12f818"]]},{"id":"ec6869ce.d72118","type":"simplicite-config","z":"c4eb5e27.3636","name":"default","user":"designer","password":"designer","host":"","port":"","root":"","debug":"false"}]