flows/demo.json
[
  {
    "id": "902e305e.391fa",
    "type": "http response",
    "z": "8f76d70.e809328",
    "name": "",
    "x": 570,
    "y": 140,
    "wires": []
  },
  {
    "id": "ece465b4.9a5068",
    "type": "http in",
    "z": "8f76d70.e809328",
    "name": "",
    "url": "/appinfo",
    "method": "get",
    "x": 90,
    "y": 140,
    "wires": [
      [
        "1a8c6ae0.c17ad5"
      ]
    ]
  },
  {
    "id": "3c6165c5.9f7f4a",
    "type": "template",
    "z": "8f76d70.e809328",
    "name": "appinfo",
    "field": "payload",
    "fieldType": "msg",
    "syntax": "mustache",
    "template": "<p>\nApplication name: <b>{{payload.name}}</b>\n<br/>Application version: <b>{{payload.version}}</b>\n<br/>Platform version: <b>{{payload.platformversion}}</b>\n<br/>Platform encoding: <b>{{payload.encoding}}</b>\n<br/>Server: <b>{{payload.server}}</b>\n</p>",
    "x": 420,
    "y": 140,
    "wires": [
      [
        "902e305e.391fa"
      ]
    ]
  },
  {
    "id": "c6219217.be08e",
    "type": "debug",
    "z": "8f76d70.e809328",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 410,
    "y": 180,
    "wires": []
  },
  {
    "id": "1a8c6ae0.c17ad5",
    "type": "simplicite-session",
    "z": "8f76d70.e809328",
    "name": "appinfo",
    "server": "83bdc402.9fd3f8",
    "action": "appinfo",
    "x": 260,
    "y": 140,
    "wires": [
      [
        "3c6165c5.9f7f4a",
        "c6219217.be08e"
      ]
    ]
  },
  {
    "id": "911a1d7a.a8363",
    "type": "http response",
    "z": "8f76d70.e809328",
    "name": "",
    "x": 570,
    "y": 240,
    "wires": []
  },
  {
    "id": "7b82bffe.046e3",
    "type": "http in",
    "z": "8f76d70.e809328",
    "name": "",
    "url": "/sysinfo",
    "method": "get",
    "swaggerDoc": "",
    "x": 90,
    "y": 240,
    "wires": [
      [
        "90a264c1.48fb68"
      ]
    ]
  },
  {
    "id": "f59bdc5.875af2",
    "type": "template",
    "z": "8f76d70.e809328",
    "name": "sysinfo",
    "field": "payload",
    "fieldType": "msg",
    "syntax": "mustache",
    "template": "<p>\nObject cache: <b>{{payload.cacheobject}} / {{payload.cacheobjectmax}}</b>\n<br/>Grant cache: <b>{{payload.cachegrant}} / {{payload.cachegrantmax}}</b>\n<br/>Heap: <b>Used {{payload.heapsize}}Kb, Free {{payload.heapfreesize}}Kb, Max {{payload.heapsize}}Kb</b>\n<br/>Disk: <b>DBDoc {{payload.dirdbdoc}}, Cache {{payload.dircache}}Kb, Recycle bin {{payload.dirrecyclebin}}Kb, Free {{payload.diskfree}}Kb</b>\n</p>",
    "x": 420,
    "y": 240,
    "wires": [
      [
        "911a1d7a.a8363"
      ]
    ]
  },
  {
    "id": "faf742e4.9d15c",
    "type": "debug",
    "z": "8f76d70.e809328",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 410,
    "y": 280,
    "wires": []
  },
  {
    "id": "90a264c1.48fb68",
    "type": "simplicite-session",
    "z": "8f76d70.e809328",
    "name": "sysinfo",
    "server": "83bdc402.9fd3f8",
    "action": "sysinfo",
    "x": 260,
    "y": 240,
    "wires": [
      [
        "f59bdc5.875af2",
        "faf742e4.9d15c"
      ]
    ]
  },
  {
    "id": "2bd48a96.411d66",
    "type": "http in",
    "z": "8f76d70.e809328",
    "name": "",
    "url": "/grant",
    "method": "get",
    "x": 80,
    "y": 40,
    "wires": [
      [
        "2277f387.034abc"
      ]
    ]
  },
  {
    "id": "7eb1df88.9bddf",
    "type": "http response",
    "z": "8f76d70.e809328",
    "name": "",
    "x": 650,
    "y": 40,
    "wires": []
  },
  {
    "id": "8eefcd83.91ed5",
    "type": "template",
    "z": "8f76d70.e809328",
    "name": "grant",
    "field": "payload",
    "fieldType": "msg",
    "syntax": "mustache",
    "template": "Hello <b>{{payload.firstname}} {{payload.lastname}}</b> (<i>{{payload.login}}</i>)!\n{{#payload.picture}}\n<br/><img src=\"data:{{mime}};base64,{{content}}\"/>\n{{/payload.picture}}\n\n",
    "x": 510,
    "y": 40,
    "wires": [
      [
        "7eb1df88.9bddf"
      ]
    ]
  },
  {
    "id": "a44c0c99.4a6b3",
    "type": "debug",
    "z": "8f76d70.e809328",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 510,
    "y": 80,
    "wires": []
  },
  {
    "id": "85fc50a0.b8bbe",
    "type": "simplicite-session",
    "z": "8f76d70.e809328",
    "name": "grant",
    "server": "83bdc402.9fd3f8",
    "action": "grant",
    "x": 370,
    "y": 40,
    "wires": [
      [
        "8eefcd83.91ed5",
        "a44c0c99.4a6b3"
      ]
    ]
  },
  {
    "id": "2277f387.034abc",
    "type": "function",
    "z": "8f76d70.e809328",
    "name": "grant",
    "func": "msg.payload = { \n\tparameters: {\n\t\tinlinePicture: true\n\t}\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 230,
    "y": 40,
    "wires": [
      [
        "85fc50a0.b8bbe"
      ]
    ]
  },
  {
    "id": "4652bcbb.278774",
    "type": "http in",
    "z": "8f76d70.e809328",
    "name": "",
    "url": "/products",
    "method": "get",
    "x": 100,
    "y": 420,
    "wires": [
      [
        "9ac014fd.1ed378"
      ]
    ]
  },
  {
    "id": "9ac014fd.1ed378",
    "type": "function",
    "z": "8f76d70.e809328",
    "name": "params",
    "func": "msg.payload = {\n\taction: \"search\",\n\tparameters: {\n\t\tinlineThumbs: true,\n\t},\n\tfilters: {\n\t\t/*demoPrdAvailable: true*/\n\t}\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 280,
    "y": 420,
    "wires": [
      [
        "7ec4b7b8.5a84f8"
      ]
    ]
  },
  {
    "id": "7ec4b7b8.5a84f8",
    "type": "simplicite-object",
    "z": "8f76d70.e809328",
    "name": "",
    "server": "83bdc402.9fd3f8",
    "objectname": "DemoProduct",
    "action": "",
    "x": 460,
    "y": 420,
    "wires": [
      [
        "8b1182b3.79322",
        "4519ebcb.8790d4"
      ]
    ]
  },
  {
    "id": "8b1182b3.79322",
    "type": "template",
    "z": "8f76d70.e809328",
    "name": "products",
    "field": "payload",
    "fieldType": "msg",
    "syntax": "mustache",
    "template": "<div class=\"row\">\n\t<div class=\"col-md-12\">\n\t\t<h3>Products <button class=\"btn btn-xs btn-default pull-right\" onclick=\"products();\"><span class=\"glyphicon glyphicon-refresh\"></span> Refresh</button></h3>\n\t</div>\n{{#payload.list}}\n\t<div class=\"col-md-6\">\n\t\t<div class=\"panel panel-info\">\n\t\t\t<div class=\"panel-heading\"><h4><span class=\"glyphicon glyphicon-shopping-cart\"></span> {{demoPrdSupId__demoSupCode}} / {{demoPrdName}}</h4></div>\n\t\t\t<div class=\"panel-body\">\n\t\t\t\t{{#demoPrdPicture}}\n\t\t\t\t<img src=\"data:{{mime}};base64,{{thumbnail}}\" style=\"margin: 5px; float: left;\"/>\n\t\t\t\t{{/demoPrdPicture}}\n\t\t\t\t<p>{{{demoPrdDescription}}}</p>\n\t\t\t\t<div class=\"badge badge-lg pull-right\">$ {{demoPrdUnitPrice}}<!-- &euro;--></div>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n{{/payload.list}}\n</div>",
    "x": 640,
    "y": 420,
    "wires": [
      [
        "c245c970.51d538"
      ]
    ]
  },
  {
    "id": "c245c970.51d538",
    "type": "http response",
    "z": "8f76d70.e809328",
    "name": "",
    "x": 790,
    "y": 420,
    "wires": []
  },
  {
    "id": "3d13d7f9.c744d8",
    "type": "http in",
    "z": "8f76d70.e809328",
    "name": "",
    "url": "/news",
    "method": "get",
    "x": 80,
    "y": 520,
    "wires": [
      [
        "6db2c00.34dd44"
      ]
    ]
  },
  {
    "id": "e3d89ccc.53892",
    "type": "http response",
    "z": "8f76d70.e809328",
    "name": "",
    "x": 670,
    "y": 520,
    "wires": []
  },
  {
    "id": "e765aa84.a93648",
    "type": "template",
    "z": "8f76d70.e809328",
    "name": "news",
    "field": "payload",
    "fieldType": "msg",
    "syntax": "mustache",
    "template": "<div class=\"row\">\n\t<div class=\"col-md-12\">\n\t\t<h3>News <button class=\"btn btn-xs btn-default pull-right\" onclick=\"news();\"><span class=\"glyphicon glyphicon-refresh\"></span> Refresh</button></h3>\n\t</div>\n{{#payload}}\n\t<div class=\"col-md-12\">\n\t\t<div class=\"panel panel-warning\">\n\t\t\t<div class=\"panel-heading\"><span class=\"glyphicon glyphicon-bullhorn\"></span> {{title}}</div>\n\t\t\t<div class=\"panel-body\">\n\t\t\t\t{{#image}}\n\t\t\t\t<img src=\"data:{{mime}};base64,{{content}}\" style=\"margin: 5px; float: left;\"/>\n\t\t\t\t{{/image}}\n\t\t\t\t<p>{{content}}</p>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n{{/payload}}\n</div>\n",
    "x": 530,
    "y": 520,
    "wires": [
      [
        "e3d89ccc.53892"
      ]
    ]
  },
  {
    "id": "6db2c00.34dd44",
    "type": "function",
    "z": "8f76d70.e809328",
    "name": "params",
    "func": "msg.payload = {\n\tparameters: {\n\t\tinlineImages: true\n\t}\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 240,
    "y": 520,
    "wires": [
      [
        "316b9618.bb8dea"
      ]
    ]
  },
  {
    "id": "316b9618.bb8dea",
    "type": "simplicite-session",
    "z": "8f76d70.e809328",
    "name": "news",
    "server": "83bdc402.9fd3f8",
    "action": "news",
    "x": 390,
    "y": 520,
    "wires": [
      [
        "e765aa84.a93648",
        "93f516f3.e2e388"
      ]
    ]
  },
  {
    "id": "93f516f3.e2e388",
    "type": "debug",
    "z": "8f76d70.e809328",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 530,
    "y": 560,
    "wires": []
  },
  {
    "id": "4519ebcb.8790d4",
    "type": "debug",
    "z": "8f76d70.e809328",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 630,
    "y": 460,
    "wires": []
  },
  {
    "id": "ce10addb.dd985",
    "type": "http in",
    "z": "8f76d70.e809328",
    "name": "",
    "url": "/demo",
    "method": "get",
    "swaggerDoc": "",
    "x": 90,
    "y": 340,
    "wires": [
      [
        "b85a15e9.c31858"
      ]
    ]
  },
  {
    "id": "a8caf1c7.b604d",
    "type": "template",
    "z": "8f76d70.e809328",
    "name": "demo",
    "field": "payload",
    "fieldType": "msg",
    "syntax": "mustache",
    "template": "<html>\n<head>\n<title>Simplicit&eacute; NodeRED demo</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/>\n<link rel=\"shortcut icon\" href=\"{{{payload.resourcesURL}}}/logos/favicon.ico\"/>\n<link href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\" rel=\"stylesheet\"/>\n</head>\n<body>\n<div class=\"container\">\n\t<div class=\"row\">\n\t\t<div class=\"col-md-12 well\" style=\"text-align: center; margin-top: 10px;\">\n\t\t\t<img src=\"{{{payload.resourcesURL}}}/logos/logo500.png\"/>\n\t\t</div>\n\t</div>\n\t<div class=\"row\">\n\t\t<div id=\"products\" class=\"col-md-9\"></div>\n\t\t<div id=\"news\" class=\"col-md-3\"></div>\n\t</div>\n\t<div class=\"row\">\n\t\t<div class=\"col-md-12\" style=\"text-align: center;\"><hr/>&copy; Simplicit&eacute; Software</div>\n\t</div>\n</div>\n<script src=\"https://code.jquery.com/jquery-2.2.4.min.js\"></script>\n<script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js\"></script>\n<script type=\"text/javascript\">\nfunction products() { $(\"#products\").text(\"Loading...\").load(\"/products\"); }\nfunction news() { $(\"#news\").text(\"Loading...\").load(\"/news\"); }\n$(document).ready(function() { products(); news(); });\n</script>\n</body>\n</html>\n",
    "x": 410,
    "y": 340,
    "wires": [
      [
        "6cb442e6.59ee2c"
      ]
    ]
  },
  {
    "id": "6cb442e6.59ee2c",
    "type": "http response",
    "z": "8f76d70.e809328",
    "name": "",
    "x": 550,
    "y": 340,
    "wires": []
  },
  {
    "id": "b85a15e9.c31858",
    "type": "function",
    "z": "8f76d70.e809328",
    "name": "params",
    "func": "msg.payload = {\n    resourcesURL: \"https://www.simplicite.io/resources/\"\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 260,
    "y": 340,
    "wires": [
      [
        "a8caf1c7.b604d"
      ]
    ]
  },
  {
    "id": "83bdc402.9fd3f8",
    "type": "simplicite-config",
    "z": "8f76d70.e809328",
    "name": "default",
    "user": "website",
    "password": "simplicite",
    "host": "localhost",
    "port": "8080",
    "scheme": null,
    "root": "",
    "debug": "false"
  }
]
