flows/demo.json
[{"id":"b42c432e.4bd3c","type":"simplicite-config","host":"simplicite-demo.mybluemix.net","port":"80","root":"","user":"","password":"","debug":null},{"id":"923ee24e.6dc12","type":"template","name":"messages","field":"payload","template":"{{#payload.error}}\n<p style=\"color: red;\">{{message}}</p>\n{{/payload.error}}\n{{^payload.error}}\n<table class=\"table\">\n{{#payload.list}}\n\t<tr class=\"{{msgEval}}\">\n\t\t<td style=\"width: 180px;\">\n\t\t\t{{#msgPicture}}\n\t\t\t<img src=\"data:{{mime}};base64,{{content}}\" style=\"width: 150px;\"/>\n\t\t\t{{/msgPicture}}\n\t\t</td>\n\t\t<td>\n\t\t\t{{msgName}}\n\t\t\t<div style=\"color: grey; font-size: .7em;\">{{msgDateTime}}</div>\n\t\t\t<pre>{{msgText}}</pre>\n\t\t</td>\n\t</tr>\n{{/payload.list}}\n</table>\n{{/payload.error}}","x":755,"y":141,"z":"10c7b6de.ef3849","wires":[["c6119fd6.39ee6"]]},{"id":"a02b1925.5fd4e8","type":"http in","name":"","url":"/messages","method":"get","x":103,"y":141,"z":"10c7b6de.ef3849","wires":[["c2393e2e.3dc6c"]]},{"id":"c6119fd6.39ee6","type":"http response","name":"","x":920,"y":141,"z":"10c7b6de.ef3849","wires":[]},{"id":"f019fcf5.0fe6","type":"simplicite-object","name":"","server":"b42c432e.4bd3c","objectname":"BluemixDemoMessage","action":"search","x":525,"y":141,"z":"10c7b6de.ef3849","wires":[["923ee24e.6dc12","d261cb08.2d9e38"]]},{"id":"1fb2eaa6.e04d15","type":"http in","name":"","url":"/demo","method":"get","x":94,"y":62,"z":"10c7b6de.ef3849","wires":[["4062b7ce.bf9d48"]]},{"id":"a3642cc7.5c9bd","type":"template","name":"demo","field":"payload","template":"<html>\n<head>\n<title>Node-RED &amp; Simplicit&eacute; demo</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/>\n<link rel=\"shortcut icon\" href=\"{{{payload.baseURL}}}/images/image/favicon.ico\"/>\n<link href=\"{{{payload.baseURL}}}/scripts/jquery/bootstrap/css/bootstrap.min.css\" rel=\"stylesheet\"/>\n<script src=\"{{{payload.baseURL}}}/scripts/jquery/jquery.js\"></script>\n<script src=\"{{{payload.baseURL}}}/scripts/ajax/appsession.js\"></script>\n<script src={{{payload.baseURL}}}/scripts/ajax/businessobject.js\"></script>\n</head>\n<body>\n<div class=\"container\">\n\t<div class=\"row\">\n\t\t<div class=\"col-md-12 well\" style=\"text-align: center; margin-top: 10px;\">\n\t\t\t<img src=\"{{{payload.baseURL}}}/images/image/logo.png\"/>\n\t\t</div>\n\t</div>\n\t<div class=\"row\">\n\t\t<div id=\"messageform\" class=\"col-md-6\">\n            <div id=\"info\" class=\"alert alert-success\" style=\"display: none; text-align: center; margin-top: 10px;\"></div>\n            <div id=\"error\" class=\"alert alert-danger\" style=\"display: none; text-align: center; margin-top: 10px;\"></div>\n            Your name:&nbsp;\n            <input type=\"text\" class=\"form-control\" placeholder=\"Your name\" id=\"name\" autocomplete=\"off\"/>\n            <div style=\"margin-top: 20px; margin-bottom: 20px;\">\n                Your evaluation:&nbsp;\n                <div id=\"eval\" class=\"btn-group\" data-toggle=\"buttons\" style=\"white-space: nowrap;\">\n                    <label class=\"btn btn-primary active\">Not evaluated<input type=\"radio\" name=\"eval\" value=\"info\" checked=\"checked\"/></label>\n                    <label class=\"btn btn-success\">Great<input type=\"radio\" name=\"eval\" value=\"success\"/></label>\n                    <label class=\"btn btn-warning\">Average<input type=\"radio\" name=\"eval\" value=\"warning\"/></label>\n                    <label class=\"btn btn-danger\">Poor<input type=\"radio\" name=\"eval\" value=\"danger\"/></label>\n                </div>\n            </div>\n            Your message:&nbsp;\n            <textarea id=\"text\" class=\"form-control\" placeholder=\"Your message\" rows=\"7\"></textarea>\n            Your picture:&nbsp;\n            <input id=\"picture\" type=\"file\" accept=\"image/*;capture=camera\" capture=\"capture\"/>\n            <canvas id=\"picture-canvas\" style=\"display: none;\"></canvas>\n            <div style=\"text-align: right; margin-top: 20px; margin-bottom: 20px;\">\n                <button id=\"send\" class=\"btn btn-default\">Send !</button>\n            </div>\n\t\t</div>\n\t\t<div id=\"messages\" class=\"col-md-6\"></div>\n\t</div>\n\t<div class=\"row\">\n\t\t<div class=\"col-md-12\" style=\"text-align: center;\"><hr/>&copy; Simplicit&eacute; Software</div>\n\t</div>\n</div>\n<script src=\"{{{payload.baseURL}}}/scripts/jquery/bootstrap/js/bootstrap.min.js\"></script>\n<script type=\"text/javascript\">\n$(document).ready(function() {\n    var coords = undefined;\n    if (navigator.geolocation) try {\n        navigator.geolocation.getCurrentPosition(function(position) {\n            coords = parseFloat(position.coords.latitude) + \";\" + parseFloat(position.coords.longitude);\n        });\n    } catch (e) {\n        console.log(\"Unable to get coordinates\");\n    }\n\t$(\"#name\").focus();\n\tvar msgTimeout = undefined;\n\tfunction messages() {\n\t\t$(\"#messages\").text(\"Loading...\").load(\"/messages\");\n\t\tmsgTimeout = setTimeout(messages, 10000);\n\t}\n\tmessages();\n\t$(\"#send\").click(function() {\n\t\t$(\"#send\").attr(\"disabled\", \"disabled\").text(\"Sending...\");\n        var f = $(\"#picture\")[0].files[0];\n\t\tfunction addmessage(d) {\n\t\t\tvar item = {\n\t\t\t\tmsgName: $(\"#name\").val(),\n\t\t\t\tmsgText: $(\"#text\").val(),\n\t\t\t\tmsgEval: $(\"#eval input:checked\").val(),\n\t\t\t\tmsgCoords: coords,\n\t\t\t\tmsgPicture: d ? { id: \"0\", name: f.name, mime: \"image/png\", content: d } : null\n\t\t\t};\n\t\t\tconsole.log(item);\n\t\t\t$.ajax({ url: \"/addmessage\", type: \"POST\", data: item, success: function() {\n\t\t\t\tif (msgTimeout) { clearTimeout(msgTimeout); msgTimeout = null; }\n\t\t\t\t$(\"#messageform\").text(\"Thank you!\");\n\t\t\t\tmessages();\n\t\t\t} });\n\t\t}\n        if (f) {\n            var r = new FileReader();\n            r.onload = function(e) {\n                var img = new Image();\n                img.onload = function() {\n                    var c = document.getElementById(\"picture-canvas\");\n                    c.width=160;\n                    c.height=120;\n                    c.getContext(\"2d\").drawImage(img, 0, 0, 160, 120);\n                    addmessage(c.toDataURL().replace(/data:image\\/png;base64,/, \"\"));\n                };\n                img.src = e.target.result;\n            };\n            r.readAsDataURL(f);\n        } else {\n            addmessage();\n        }\n\t});\n});\n</script>\n</body>\n</html>\n","x":432,"y":62,"z":"10c7b6de.ef3849","wires":[["adbad1fd.52453"]]},{"id":"adbad1fd.52453","type":"http response","name":"","x":594,"y":62,"z":"10c7b6de.ef3849","wires":[]},{"id":"97088a07.68f778","type":"http in","name":"","url":"/addmessage","method":"post","x":108,"y":249,"z":"10c7b6de.ef3849","wires":[["92b4eda5.6d4b1","b85b6bc0.47a498"]]},{"id":"a2780353.5d88","type":"simplicite-object","name":"","server":"b42c432e.4bd3c","objectname":"BluemixDemoMessage","action":"create","x":550,"y":248,"z":"10c7b6de.ef3849","wires":[["1945ae8.fe6ba52","9e31f98f.61ce08"]]},{"id":"1945ae8.fe6ba52","type":"http response","name":"","x":800,"y":248,"z":"10c7b6de.ef3849","wires":[]},{"id":"d261cb08.2d9e38","type":"debug","name":"","active":false,"console":"false","complete":"false","x":714,"y":191,"z":"10c7b6de.ef3849","wires":[]},{"id":"9e31f98f.61ce08","type":"debug","name":"","active":false,"console":"false","complete":"false","x":679,"y":308,"z":"10c7b6de.ef3849","wires":[]},{"id":"c2393e2e.3dc6c","type":"function","name":"params","func":"msg.payload = {\n\tparameters: {\n\t\tinlineDocs: true\n\t},\n\tfilters: {\n\t\tmsgVisible: true\n\t}\n}\nreturn msg;","outputs":1,"x":304,"y":141,"z":"10c7b6de.ef3849","wires":[["f019fcf5.0fe6"]]},{"id":"92b4eda5.6d4b1","type":"debug","name":"","active":false,"console":"false","complete":"false","x":241,"y":303,"z":"10c7b6de.ef3849","wires":[]},{"id":"b85b6bc0.47a498","type":"function","name":"params","func":"var item = msg.payload;\nmsg.payload = {\n\titem: item\n}\nreturn msg;","outputs":1,"x":330,"y":249,"z":"10c7b6de.ef3849","wires":[["a2780353.5d88"]]},{"id":"4062b7ce.bf9d48","type":"function","name":"params","func":"msg.payload = {\n\tbaseURL: \"http://simplicite-demo.mybluemix.net\"\n};\nreturn msg;","outputs":1,"x":266,"y":62,"z":"10c7b6de.ef3849","wires":[["a3642cc7.5c9bd"]]}]