flows/info.json
[{"id":"b42c432e.4bd3c","type":"simplicite-config","host":"simplicite-demo.mybluemix.net","port":"80","root":"","user":"","password":"","debug":null},{"id":"6621b8be.99de48","type":"http response","name":"","x":598,"y":73,"z":"54756d62.ab8a94","wires":[]},{"id":"fca08e8.f035f7","type":"http in","name":"","url":"/appinfo","method":"get","x":114,"y":72,"z":"54756d62.ab8a94","wires":[["ad691aa5.5296e8"]]},{"id":"1e048f5f.e1fb71","type":"template","name":"appinfo","field":"payload","template":"<p>\nApplication name: <b>{{payload.name}}</b>\n<br/>Application version: <b>{{payload.version}}</b>\n<br/>Platform version: <b>{{payload.platformversion}}</b>\n<br/>Platform encoding: <b>{{payload.encoding}}</b>\n<br/>Server: <b>{{payload.server}}</b>\n</p>","x":444,"y":74,"z":"54756d62.ab8a94","wires":[["6621b8be.99de48"]]},{"id":"7feb42fd.8014bc","type":"debug","name":"","active":false,"console":"false","complete":"false","x":441,"y":129,"z":"54756d62.ab8a94","wires":[]},{"id":"ad691aa5.5296e8","type":"simplicite-session","name":"appinfo","server":"b42c432e.4bd3c","action":"appinfo","x":281,"y":73,"z":"54756d62.ab8a94","wires":[["1e048f5f.e1fb71","7feb42fd.8014bc"]]},{"id":"f773e377.088c2","type":"http response","name":"","x":598,"y":204,"z":"54756d62.ab8a94","wires":[]},{"id":"d7ec4ad6.2813b8","type":"http in","name":"","url":"/sysinfo","method":"get","x":114,"y":203,"z":"54756d62.ab8a94","wires":[["2eeeb86d.d11148"]]},{"id":"896a9216.76957","type":"template","name":"sysinfo","field":"payload","template":"<p>\nObject cache: <b>{{payload.cacheobject}} / {{payload.cacheobjectmax}}</b>\n<br/>Grant cache: <b>{{payload.cachegrant}} / {{payload.cachegrantmax}}</b>\n<br/>Heap: <b>Used {{payload.heapsize}}Kb, Free {{payload.heapfreesize}}Kb, Max {{payload.heapsize}}Kb</b>\n<br/>Disk: <b>DBDoc {{payload.dirdbdoc}}, Cache {{payload.dircache}}Kb, Recycle bin {{payload.dirrecyclebin}}Kb, Free {{payload.diskfree}}Kb</b>\n</p>","x":444,"y":205,"z":"54756d62.ab8a94","wires":[["f773e377.088c2"]]},{"id":"b35e753d.4ca188","type":"debug","name":"","active":false,"console":"false","complete":"false","x":441,"y":260,"z":"54756d62.ab8a94","wires":[]},{"id":"2eeeb86d.d11148","type":"simplicite-session","name":"sysinfo","server":"b42c432e.4bd3c","action":"sysinfo","x":281,"y":204,"z":"54756d62.ab8a94","wires":[["896a9216.76957","b35e753d.4ca188"]]},{"id":"fc3136d7.03cec8","type":"http in","name":"","url":"/grant","method":"get","x":95,"y":343,"z":"54756d62.ab8a94","wires":[["345771ef.cba88e"]]},{"id":"32a6d638.cd592a","type":"http response","name":"","x":736,"y":343,"z":"54756d62.ab8a94","wires":[]},{"id":"81377be7.7ec888","type":"template","name":"grant","field":"payload","template":"Hello <b>{{payload.firstname}} {{payload.lastname}}</b> (<i>{{payload.login}}</i>)!\n{{#payload.picture}}\n<br/><img src=\"data:{{mime}};base64,{{content}}\"/>\n{{/payload.picture}}\n\n","x":589,"y":343,"z":"54756d62.ab8a94","wires":[["32a6d638.cd592a"]]},{"id":"44f63a96.bb09c4","type":"debug","name":"","active":false,"console":"false","complete":"false","x":581,"y":399,"z":"54756d62.ab8a94","wires":[]},{"id":"7f3dad6b.80c254","type":"simplicite-session","name":"grant","server":"b42c432e.4bd3c","action":"grant","x":433,"y":343,"z":"54756d62.ab8a94","wires":[["81377be7.7ec888","44f63a96.bb09c4"]]},{"id":"345771ef.cba88e","type":"function","name":"grant","func":"msg.payload = { \n\tparameters: {\n\t\tinlinePicture: true\n\t}\n};\nreturn msg;","outputs":1,"x":273,"y":343,"z":"54756d62.ab8a94","wires":[["7f3dad6b.80c254"]]}]